/**********************************
----------------------------------
	UNIVERSAL STYLES
----------------------------------
**********************************/
body {
	font:10pt verdana;
	margin:0px;
	background-image:url('./../images/fabricbg.png');
	margin-top:-20px;
}
main {
	position:relative;
	width:80%;
	background-color:#fefefe;
	margin:30px auto;
	padding:15px;
	box-shadow:0px 0px 20px #aaa;
	overflow: auto;
}

article {
	overflow: auto;
}

/**********************************
----------------------------------
	HEADER
----------------------------------
**********************************/
header {
	-webkit-margin-before: 0 em;
    -webkit-margin-after: 0 em;
	top:0px;
	display:block;
	border-bottom:4px solid #333;
	background-color:#fefefe;
	padding-top:20px;
}
header img {
	float:left;
	margin:0px 10px;
}
header h1 {
	height:60px;
}
header h1 a {
	text-decoration:none;
	font:35pt 'Montserrat', sans-serif;
	font-weight:bold;
}
div.nav-wrapper {
	background-color:#eaeaea;
	border-bottom:2px solid #777;
	padding:4px;
}
div.dropdown {
	position:relative;
	display:inline-block;
	text-align:center;
	margin-right:2px;
	padding:8px 5px;
	border:3px double #fff;
	width:100px;
	background-color:#e1e1e1;
}
div.dropdown a.menubtn {
	font:12pt 'Montserrat', sans-serif;
	text-decoration:none;
}
div.dropdown-content {
	display:none;
	position:absolute;
	z-index:100;
	left:0px;
	transition:.5s;
}
div.dropdown-content .dd-link-wrapper {
	display:block;
	background-color:#e1e1e1;
	text-align:left;
	width:100px;
	padding:5px;
}
div.dd-link-wrapper a {
	text-decoration:none;
	border-bottom:1px solid;
	padding-right:10px;
}
div.dropdown:hover .dropdown-content {
	display:block;
	transition:.5s;
}
div.dd-link-wrapper:hover {
	background-color:#eaeaea;
	transition:.5s;
}

/**********************************
----------------------------------
	HOME
----------------------------------
**********************************/
section.home {
	display:inline-block;
	width:75%;
	vertical-align:top;
	border:1px solid;
	padding:10px;
	box-sizing:border-box;
}
aside.home {
	display:inline-block;
	box-sizing:border-box;
	padding:10px;
	width:24.34%;
	vertical-align:top;
	border:1px solid;
	border:1px solid;
}

/**********************************
----------------------------------
	DETAILS PAGES
----------------------------------
**********************************/
img.pet-pix {
	width: 100%;
	margin-top: 10px;
}

@media (min-width:320px) { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
	main > article {
		float: left;
		width: 700px;
		padding: 10px;
	}

	.sidebar1 {
		float: right;
		width: 250px;
		padding: 10px;
		margin-top: 30px;
	}
	img.pet-pix {
		width: 50%;
		float: left;
		padding-right: 10px;
	}

}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }
