/**********************************
----------------------------------
	UNIVERSAL STYLES
----------------------------------
**********************************/
body {
	font:16px verdana;
	margin:0px;
	background-image:url('./../images/fabricbg.png');
	margin-top:-20px;
}
main {
	position:relative;
	width:100%;
	background-color:#fefefe;
	margin:30px auto;
	padding:15px;
	box-shadow:0px 0px 20px #aaa;
	overflow: auto;
}

article {
	overflow: auto;
}

footer {
	padding-top: 60px;
}

/**********************************
----------------------------------
	BUTTON STYLES
----------------------------------
**********************************/
button.default {
    border-radius: 5px;
    padding: 10px;
    font-weight: bolder;
    background: #F3DE8A;
    border: 0px;
	-webkit-box-shadow: 0px 0px 35px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 35px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 35px 1px rgba(0,0,0,0.75);
}

/**********************************
----------------------------------
	HEADER
----------------------------------
**********************************/
header.page {
	-webkit-margin-before: 0 em;
    -webkit-margin-after: 0 em;
	top:0px;
	display:block;
	border-bottom:4px solid #333;
	background-color: #272838;
	padding-top:20px;
/*	margin-bottom: 10px; */
}
header.page img {
	float:left;
	margin:0px 10px;
}
header.page > h1 {
	height:60px;
}
header.page h1 a {
	text-decoration:none;
	font:35pt 'Montserrat', sans-serif;
	font-weight:bold;
	color: #F3DE8A;
}
div.nav-wrapper {
/*	background-color:#eaeaea; */
	border-bottom:2px solid #777;
	padding:4px;
}
div.dropdown {
	position:relative;
	display:inline-block;
	text-align:center;
	margin-right:2px;
	padding:8px 5px;
	border:3px double #fff;
	width:100px;
	background-color:#e1e1e1;
}
div.dropdown a.menubtn {
	font:12pt 'Montserrat', sans-serif;
	text-decoration:none;
}
div.dropdown-content {
	display:none;
	position:absolute;
	z-index:100;
	top: 38px;
	left:0px;
	transition:.5s;
}
div.dropdown-content .dd-link-wrapper {
	display:block;
	background-color:#e1e1e1;
	text-align:left;
	width:100px;
	padding:5px;
}
div.dd-link-wrapper a {
	text-decoration:none;
	border-bottom:1px solid;
	padding-right:10px;
}
div.dropdown:hover .dropdown-content {
	display:block;
	transition:.5s;
}
div.dd-link-wrapper:hover {
	background-color:#eaeaea;
	transition:.5s;
}

/**********************************
----------------------------------
	HOME (details)
----------------------------------
**********************************/
section.home, section.details {
	display:inline-block;
	width:75%;
	vertical-align:top;
	border:1px solid;
	padding:10px;
	box-sizing:border-box;
}
aside.home, aside.details {
	display:inline-block;
	box-sizing:border-box;
	padding:10px;
	width:24.34%;
	vertical-align:top;
	border:1px solid;
	border:1px solid;
}

/**********************************
----------------------------------
	BANNER AND CALL-TO-ACTION
----------------------------------
**********************************/

div.banner {
    width: 100%;
    height: 400px;
    background-image: url(https://www.cs.plu.edu/~amezolma/projects/animal-rescue/images/dogs/American_Foxhound_and_Labrador_Retriever_playing.jpg);
    background-position: 50% 50%;
	margin: -10px 0 -30px;
}
div.banner > div.call-to-action {
	position: relative;
	top: 200px;
}
div.call-to-action > p {
	color: #F3DE8A;
	font-size: 3em;
	margin: 10px auto;
}

/**********************************
----------------------------------
	DETAILS PAGES
----------------------------------
**********************************/
img.pet-pix {
	width: 100%;
	margin-top: 10px;
}


/**********************************
----------------------------------
	ADOPTION
----------------------------------
**********************************/
section.index {
	width:45%;
	display:inline-block;
	margin:2.3%;
	position:relative;
	box-sizing:border-box;
	padding:20px 30px;
	background-color:#F9F8F8;
	border:3px double #272838;
}
section.index header {
	padding-top:0px;
	border:3px double #F3DE8A;
	outline:10px solid #7E7F9A;
}
section.index h2 {
	margin:0 auto;
	text-align:center;
	border-bottom:0px;
	padding:10px;
}
section.index h2 a {
	text-decoration:none;
}
section.index article {
	padding:20px;
	position:relative;
	top:20px;
	margin-bottom:10px;
	overflow:hidden;
	border:4px double #7E7F9A;
}
section.index img {
	max-width:100%;
	position:absolute;
	top:0px;
	left:0px;
	display:block;
}
section.index article p {
	padding:10px;
	text-align:justify;
	height:100px;
	overflow:auto;
	position:relative;
	display:block;
	background-color:#F9F8F8;
	border-top:1px solid #272838;
	outline:10px solid #F9F8F8;
	opacity: 0;
	transition:opacity 1s ease-in-out .05s; 

}
section.index:hover img {
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
	transition:1s;
}
section.index:hover article p{
	z-index:2;
	opacity:1;
	transition:opacity 1s ease-in-out .05s; 
}


/**********************************
----------------------------------
	DETAILS
----------------------------------
**********************************/
section.details article header {
	background-image:url('./../images/dogs/yorkie.jpg');
	background-size:cover;
	border:4px double #272838;
	padding-left:20px;
	color:#F9F8F8;
	font-size:20px;
	text-shadow:2px 2px #272838, 2px -2px #272838, -2px -2px #272838, -2px 2px #272838;
}
section.details article header h1 {
	border-bottom:5px solid #272838;
	display:inline-block;
	padding:0px 20px 0px 5px;
	text-transform:uppercase;
}
aside.details h2 {
	font-size:13px;
	background-color:#EB9486;
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
	padding:10px;
	color:#F9F8F8;
	text-transform:lowercase;
	line-height:14px;
	font-weight:200;
}
aside.details h2 b {
	font-size:18px;
	display:block;
	font-weight:900;
	padding-bottom:3px;
	border-bottom:1px solid;
	text-transform:uppercase;
}
aside.details ul {
	list-style:none;
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-padding-start: 0px;
	font-size:8pt;
}
aside.details ul li {
	margin:5px;
	font-weight:normal;
	transition:.5s ease-in-out;
}
aside.details ul li b {
	background-color:#7E7F9A;
	color:#F9F8F8;
	padding:5px;
	font:12px courier new;
	font-weight:bold;
	width:50px;
	display:inline-block;
	text-align:center;
}
aside.details ul li:hover {
	font-weight:bold;
	transition:.5s ease-in-out;
	background-color:#F9F8F8;
}

@media (min-width:320px) { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
	main > article {
		float: left;
		width: 650px;
		padding: 10px;
	}
	.main-wrapper {
		max-width: 961px;
		margin: 0 auto;
	}

	.sidebar1 {
		float: right;
		width: 250px;
		padding: 10px;
		margin-top: 30px;
	}
	img.pet-pix {
		width: 50%;
		float: left;
		padding-right: 10px;
	}
	

}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }
